{{> 'templates/header' title='Example page'}}

<div class="center-container">
    <h1>Welcome to Bjax</h1>
    <p class="lead">Ajax link system for modern website. Convert any link in your page to ajax link.</p>
</div>

{{> 'templates/footer'}}
